body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-image {
    width: 30%;
    margin-bottom: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-description {
    text-align: center;
    margin: 40px 0;
}

.product-status {
    font-size: 18px;
    color: #2ecc71;
    margin: 10px 0;
}

.buy-buttons {
    text-align: center;
    margin-top: 20px;
}

.buy-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
}

.buy-button:hover {
    background-color: #2980b9;
}

/* --- 商品卡片容器 --- */
.layout-row-responsive {
    display: flex;
    border-radius: 8px;
    /* gap: 10px; */
    align-items: center;    /* 垂直置中 */
    /* justify-content: center;水平置中 */
}

/* 卡片或內容區塊 */
.card-block {
    flex: 1;
    /* height: 100px; */
    background: white;
    color: rgb(44, 42, 42);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 8px;
}

/* --- 按鈕 --- */
.product-btn {
    display: inline-block;
    padding: 12px 18px;
    background: #ff6f3c;
    color: #fff !important;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.25s;
}

.product-btn:hover {
  background: #e65a26;
}

/* RWD 設計 */
@media (max-width: 768px) {
    .product-images {
        flex-direction: column;
    }

    .product-image {
        width: 80%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .buy-button {
        font-size: 16px;
        padding: 8px 16px;
    }
}
/* 確保圖片和文字自動調整 */
figure {
    display: flex;
    flex-wrap: wrap;
}

figure img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding: 0;  
}

figure a {
    border: 1px solid rgb(0, 0, 0);
}

figcaption {
    flex: 1;
}

table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #007bff;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #007bff;
}
th {
    background: #007bff;
    color: white;
    cursor: pointer;
    border-bottom: 3px solid #0056b3;
}
th:hover {
    background: #0056b3;
}
tr:nth-child(even) {
    background: #f9f9f9;
}
tr:hover {
    background: #f1f1f1;
}



